@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-Black.otf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-BlackItalic.otf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-Bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-BoldItalic.otf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-Italic.otf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-Light.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-LightItalic.otf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-Medium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-MediumItalic.otf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-Regular.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-Thin.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "SwearBig";
    src: url("../fonts/SwearBig/SwearBig-ThinItalic.otf") format("truetype");
    font-weight: 100;
    font-style: italic;
}


  



  
